body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(./assets/R.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
}